# Python Day 1: Answers to Practice Questions

## Section 1 – Python as a Calculator

### Q1.1 – Basic arithmetic

In [ ]:
result_a = 15 + 27
result_b = 100 - 45
result_c = 8 * 7
result_d = 50 / 4
(result_a, result_b, result_c, result_d)

### Q1.2 – Modulo operator

In [ ]:
remainder_17_mod_5 = 17 % 5
is_24_even = (24 % 2 == 0)
(remainder_17_mod_5, is_24_even)

### Q1.3 – Store discount and tax

In [ ]:
original_price = 120
discount = original_price * 0.15
price_after_discount = original_price - discount
final_price_with_tax = price_after_discount * 1.08
(discount, price_after_discount, round(final_price_with_tax, 2))

### Q1.4 – Compound interest

In [ ]:
P = 1000
r = 0.05
t = 3
A = P * (1 + r) ** t
round(A, 2)

### Q1.5 – Quarterly sales analysis

In [ ]:
sales = [45000, 52000, 48000, 61000]
total_sales = sum(sales)
average_sales = total_sales / len(sales)
growth_q1_to_q4 = (sales[-1] - sales[0]) / sales[0] * 100
next_year_revenue = sales[-1] * 4
(total_sales, average_sales, round(growth_q1_to_q4, 2), next_year_revenue)

## Section 2 – Variables and Data Types

### Q2.1 – Creating basic type variables

In [ ]:
age = 25
coffee_price = 3.50
favourite_language = 'Python'
likes_python = True
(age, coffee_price, favourite_language, likes_python)

### Q2.2 – Type checking

In [ ]:
(type(age), type(coffee_price), type(favourite_language), type(likes_python))

### Q2.3 – Type conversion challenge

In [ ]:
int_value = int('42')
str_value = str(100)
float_value = float('3.14')
(int_value, str_value, float_value)

### Q2.4 – Employee record using f-strings

In [ ]:
name = 'John Smith'
department = 'Sales'
salary = 55000
years_experience = 3.5
record = f"{name} works in {department}, earns ${salary:,} annually, has {years_experience} years of experience."
record

### Q2.5 – Data validation

In [ ]:
age_input = '25'
height_input = '5.9'
name_input = 'Alice'
is_student_input = 'yes'
age_val = int(age_input)
height_val = float(height_input)
name_val = str(name_input)
is_student_val = is_student_input.lower() == 'yes'
valid_age = age_val > 0
valid_height = height_val > 0
valid_name = bool(name_val)
(age_val, height_val, name_val, is_student_val, valid_age, valid_height, valid_name)

## Section 3 – Lists

### Q3.1 – Creating lists

In [ ]:
fruits = ['apple', 'banana', 'orange', 'grape', 'pear']
numbers = list(range(10, 16))
shopping_cart = []
(fruits, numbers, shopping_cart)

### Q3.2 – Working with the fruits list

In [ ]:
first_fruit = fruits[0]
last_fruit = fruits[-1]
fruits.append('mango')
total_fruits = len(fruits)
(first_fruit, last_fruit, total_fruits, fruits)

### Q3.3 – Temperature analysis

In [ ]:
temperatures = [72, 75, 78, 71, 73, 77, 74]
highest = max(temperatures)
lowest = min(temperatures)
average = sum(temperatures) / len(temperatures)
weekdays_only = temperatures[:5]
(highest, lowest, average, weekdays_only)

### Q3.4 – Product list manipulation

In [ ]:
products = ['laptop', 'mouse', 'keyboard', 'monitor', 'headphones']
prices = [999, 25, 50, 300, 80]
products_over_50 = [prod for prod, price in zip(products, prices) if price > 50]
total_cost = sum(prices)
most_expensive = products[prices.index(max(prices))]
(products_over_50, total_cost, most_expensive)

### Q3.5 – Monthly sales analysis

In [ ]:
monthly_sales = [12000, 15000, 13000, 16000, 14000, 17000, 15000, 18000, 16000, 19000, 17000, 20000]
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
q_totals = [sum(monthly_sales[i:i+3]) for i in range(0, len(monthly_sales), 3)]
max_month = months[monthly_sales.index(max(monthly_sales))]
increase = (monthly_sales[-1] - monthly_sales[0]) / monthly_sales[0] * 100
growth_quarters = [i+1 for i in range(1, len(q_totals)) if q_totals[i] > q_totals[i-1]]
(q_totals, max_month, round(increase, 2), growth_quarters)

## Section 4 – Tuples

### Q4.1 – Creating tuples

In [ ]:
rgb_red = (255, 0, 0)
point = (10, 20)
date_tuple = (2024, 3, 15)
(rgb_red, point, date_tuple)

### Q4.2 – Student information

In [ ]:
student = ('Alice Johnson', 22, 'Computer Science', 3.8)
name, age_student, major, gpa = student
(name, gpa, student)

### Q4.3 – Employee payroll analysis

In [ ]:
employees = [('John Doe','Sales',50000),('Jane Smith','Marketing',55000),('Bob Johnson','IT',65000),('Alice Brown','Sales',52000)]
total_payroll = sum(emp[2] for emp in employees)
sales_employees = [emp[0] for emp in employees if emp[1] == 'Sales']
highest_paid = max(employees, key=lambda x: x[2])[0]
(total_payroll, sales_employees, highest_paid)

### Q4.4 – Geographic data analysis

In [ ]:
cities = [('New York',(40.7128, -74.0060), 8336817),('Los Angeles',(34.0522, -118.2437), 3995756),('Chicago',(41.8781, -87.6298), 2693976),('Houston',(29.7604, -95.3698), 2320268)]
total_population = sum(pop for _,_,pop in cities)
northernmost = max(cities, key=lambda x: x[1][0])[0]
avg_population = total_population / len(cities)
cities_over_3m = [name for name,_,pop in cities if pop > 3000000]
(total_population, northernmost, avg_population, cities_over_3m)

## Section 5 – Sets

### Q5.1 – Creating sets

In [ ]:
primary_colors = {'red','blue','yellow'}
unique_numbers = set([1,2,2,3,3,3,4])
empty_set = set()
(primary_colors, unique_numbers, empty_set)

### Q5.2 – Unique products and counts

In [ ]:
purchases = ['apple','banana','apple','orange','banana','apple']
unique_products = set(purchases)
num_unique = len(unique_products)
unique_products.add('grape')
(unique_products, num_unique)

### Q5.3 – Skills analysis

In [ ]:
team_a = {'Python','SQL','Excel','Tableau'}
team_b = {'Python','R','SQL','PowerBI'}
required = {'Python','SQL','Machine Learning'}
common_skills = team_a & team_b
a_not_b = team_a - team_b
all_skills = team_a | team_b
skills_needed = required - team_a
(common_skills, a_not_b, all_skills, skills_needed)

## Section 6 – Ranges

### Q6.1 – Basic ranges

In [ ]:
range1 = list(range(10))
range2 = list(range(5,16))
even_numbers = list(range(0,21,2))
(range1, range2, even_numbers)

### Q6.2 – More range examples

In [ ]:
years = list(range(2020,2025))
multiples_of_5 = list(range(0,51,5))
countdown = list(range(10,0,-1))
temperatures = list(range(-10,31,5))
(years, multiples_of_5, countdown, temperatures)

### Q6.3 – Batch processing simulation

In [ ]:
total_records = 1_000_000
batch_size = 1000
batch_starts = list(range(0, total_records, batch_size))
num_batches = len(batch_starts)
first_five_batches = [(start, start + batch_size - 1) for start in batch_starts[:5]]
(num_batches, first_five_batches)

## Section 7 – Indexing & Slicing

### Q7.1 – Accessing elements

In [ ]:
letters = ['a','b','c','d','e','f','g','h']
first = letters[0]
last = letters[-1]
third = letters[2]
second_last = letters[-2]
(first, last, third, second_last)

### Q7.2 – String and list slicing

In [ ]:
text = 'Python Programming'
numbers = list(range(10))
word_python = text[:6]
word_programming = text[7:]
every_other_letter = text[::2]
first_half_numbers = numbers[:5]
last_three_numbers = numbers[-3:]
every_other_from_1 = numbers[1::2]
(word_python, word_programming, every_other_letter, first_half_numbers, last_three_numbers, every_other_from_1)

### Q7.3 – Hourly website traffic analysis

In [ ]:
hourly_data = [120,135,142,128,156,189,201,245,289,312,298,276,254,231,198,176,154,143,136,128,122,118,115,112]
morning = hourly_data[6:12]
afternoon = hourly_data[12:18]
evening = hourly_data[18:]
avg_morning = sum(morning)/len(morning)
avg_afternoon = sum(afternoon)/len(afternoon)
avg_evening = sum(evening)/len(evening)
peak_value = max(hourly_data)
peak_hour = hourly_data.index(peak_value)
(morning, afternoon, evening, avg_morning, avg_afternoon, avg_evening, peak_hour, peak_value)

## Section 8 – Combining Data Structures

### Q8.1 – Customer order analysis

In [ ]:
order_ids = ['ORD001','ORD002','ORD003','ORD004','ORD005']
products = ['Laptop','Mouse','Laptop','Keyboard','Mouse']
quantities = [1,2,1,1,3]
prices = [999,25,999,50,25]
orders = list(zip(order_ids, products, quantities, prices))
total_revenue = sum(q * p for q, p in zip(quantities, prices))
unique_products = set(products)
total_items_sold = sum(quantities)
(orders, total_revenue, unique_products, total_items_sold)

### Q8.2 – Student records analysis

In [ ]:
students = [('Alice',20,'CS',3.8,['Python','Data Structures','Calculus']),('Bob',21,'Math',3.6,['Calculus','Statistics','Linear Algebra']),('Carol',19,'CS',3.9,['Python','Algorithms','Calculus']),('David',22,'Physics',3.7,['Calculus','Mechanics','Python']),('Eve',20,'CS',3.5,['Java','Data Structures','Statistics'])]
unique_courses = set()
for _,_,_,_,courses in students:
    unique_courses.update(courses)
cs_students = [name for name,_,major,_,_ in students if major == 'CS']
from collections import defaultdict, Counter
gpa_by_major = defaultdict(list)
for name,age,major,gpa,courses in students:
    gpa_by_major[major].append(gpa)
avg_gpa = {major: sum(vals)/len(vals) for major, vals in gpa_by_major.items()}
course_counts = Counter()
for _,_,_,_,courses in students:
    course_counts.update(courses)
most_popular_course = course_counts.most_common(1)[0][0]
python_calculus_students = [name for name,age,major,gpa,courses in students if 'Python' in courses and 'Calculus' in courses]
cs_courses = set()
for name,age,major,gpa,courses in students:
    if major == 'CS':
        cs_courses.update(courses)
(unique_courses, cs_students, avg_gpa, most_popular_course, python_calculus_students, cs_courses)

## Bonus Challenge – Sales Dashboard

In [ ]:
daily_sales = [1200,1350,980,1450,1680,1590,1750,2100,2250,1980,2150,2400,2350,2560,1850,1920,1750,1680,1890,1950,2100,2300,2450,2380,2500,2650,2700,2850,2900,3100]
week_totals = [sum(daily_sales[i:i+7]) for i in range(0, len(daily_sales), 7)]
best_day = daily_sales.index(max(daily_sales)) + 1
worst_day = daily_sales.index(min(daily_sales)) + 1
growth = (week_totals[3] - week_totals[0]) / week_totals[0] * 100
moving_avg = [sum(daily_sales[i:i+7])/7 for i in range(len(daily_sales)-6)]
monthly_avg = sum(daily_sales) / len(daily_sales)
days_exceeding = [i+1 for i,val in enumerate(daily_sales) if val > monthly_avg]
(week_totals, best_day, worst_day, round(growth,2), moving_avg[:5], monthly_avg, days_exceeding)