# Python Day 1: Practice Questions

## Python Basics & Core Data Structures

This notebook contains practice questions covering:
- Python as a calculator
- Variables and data types
- Lists
- Tuples
- Sets
- Ranges
- Indexing and slicing
- Combining data structures

Questions are organized from easy to hard with scaffolding support.

---

## Section 1: Python as a Calculator

### Easy Questions

**Question 1.1:** Calculate the following using Python:
- a) 15 + 27
- b) 100 - 45
- c) 8 * 7
- d) 50 / 4

In [ ]:
# Your code here

**Question 1.2:** Use the modulo operator to find:
- a) The remainder when 17 is divided by 5
- b) Check if 24 is even (hint: even numbers have remainder 0 when divided by 2)

In [ ]:
# Your code here

### Medium Questions

**Question 1.3:** A store offers a 15% discount on a $120 item. Calculate:
- The discount amount
- The final price after discount
- The price including 8% tax on the discounted price

In [ ]:
# Hint: Start with original_price = 120
# Calculate discount as original_price * 0.15
# Your code here

**Question 1.4:** Calculate compound interest:
- Principal: $1000
- Annual interest rate: 5%
- Time: 3 years
- Formula: A = P(1 + r)^t

In [ ]:
# Hint: Use ** for exponentiation
# Your code here

### Hard Questions

**Question 1.5:** A company has quarterly sales of $45,000, $52,000, $48,000, and $61,000. Calculate:
- Total annual sales
- Average quarterly sales
- The percentage growth from Q1 to Q4
- If the company maintains Q4 sales for all of next year, what would be the annual revenue?

In [ ]:
# Start by defining each quarter's sales
# Your code here

---

## Section 2: Variables and Data Types

### Easy Questions

**Question 2.1:** Create variables of each basic type:
- An integer representing your age
- A float representing the price of coffee ($3.50)
- A string with your favorite programming language
- A boolean indicating if you like Python (True/False)

In [ ]:
# Your code here

**Question 2.2:** Check the type of each variable you created using the `type()` function.

In [ ]:
# Use type() on each variable from 2.1
# Your code here

### Medium Questions

**Question 2.3:** Type conversion challenge:
- Convert the string "42" to an integer
- Convert the integer 100 to a string
- Convert the string "3.14" to a float
- Try to convert "hello" to an integer (what happens?)

In [ ]:
# Hint: Use int(), str(), and float() functions
# Your code here

**Question 2.4:** Create an employee record with the following information and use f-strings to display it:
- Name: "John Smith"
- Department: "Sales"
- Salary: 55000
- Years of experience: 3.5
- Full-time employee: True

Display format: "John Smith works in Sales, earns $55,000 annually, has 3.5 years of experience"

In [ ]:
# Create variables first, then use f-string
# Your code here

### Hard Questions

**Question 2.5:** Data validation challenge:
Given user inputs as strings, validate and convert them appropriately:
```python
age_input = "25"
height_input = "5.9"
name_input = "Alice"
is_student_input = "yes"
```

Convert each to the appropriate type and create validation checks:
- Age should be a positive integer
- Height should be a positive float
- Name should remain a string but check it's not empty
- Convert "yes"/"no" to boolean True/False

In [ ]:
age_input = "25"
height_input = "5.9"
name_input = "Alice"
is_student_input = "yes"

# Your conversion and validation code here

---

## Section 3: Lists

### Easy Questions

**Question 3.1:** Create the following lists:
- A list of 5 fruits
- A list of numbers from 10 to 15
- An empty list called `shopping_cart`

In [ ]:
# Your code here

**Question 3.2:** Using the fruits list from 3.1:
- Print the first fruit
- Print the last fruit
- Add "mango" to the end of the list
- Print the total number of fruits

In [ ]:
# Use indexing and list methods
# Your code here

### Medium Questions

**Question 3.3:** Given a list of daily temperatures for a week:
```python
temperatures = [72, 75, 78, 71, 73, 77, 74]
```
Calculate:
- The highest temperature
- The lowest temperature
- The average temperature
- The temperatures for weekdays only (first 5 days)

In [ ]:
temperatures = [72, 75, 78, 71, 73, 77, 74]

# Hint: Use max(), min(), sum(), len(), and slicing
# Your code here

**Question 3.4:** List manipulation:
```python
products = ["laptop", "mouse", "keyboard", "monitor", "headphones"]
prices = [999, 25, 50, 300, 80]
```
- Create a new list with products over $50
- Calculate the total cost of all products
- Find the most expensive product (hint: use index of max price)

In [ ]:
products = ["laptop", "mouse", "keyboard", "monitor", "headphones"]
prices = [999, 25, 50, 300, 80]

# Your code here

### Hard Questions

**Question 3.5:** Sales analysis:
```python
monthly_sales = [12000, 15000, 13000, 16000, 14000, 17000, 
                 15000, 18000, 16000, 19000, 17000, 20000]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", 
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
```

Calculate and display:
- Quarterly sales totals (Q1, Q2, Q3, Q4)
- The month with highest sales
- The percentage increase from January to December
- Which quarters showed growth compared to the previous quarter?

In [ ]:
monthly_sales = [12000, 15000, 13000, 16000, 14000, 17000, 
                 15000, 18000, 16000, 19000, 17000, 20000]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", 
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

# Hint: Use slicing for quarters [0:3], [3:6], etc.
# Your code here

---

## Section 4: Tuples


### Easy Questions

**Question 4.1:** Create tuples for:
- RGB color values for red: (255, 0, 0)
- A point coordinate: (10, 20)
- A date: (2024, 3, 15)

In [ ]:
# Your code here

**Question 4.2:** Given a tuple of student information:
```python
student = ("Alice Johnson", 22, "Computer Science", 3.8)
```
Extract and print:
- The student's name
- The student's GPA
- All information using tuple unpacking

In [ ]:
student = ("Alice Johnson", 22, "Computer Science", 3.8)

# Your code here

### Medium Questions

**Question 4.3:** Create a list of employee records (tuples):
```python
employees = [
    ("John Doe", "Sales", 50000),
    ("Jane Smith", "Marketing", 55000),
    ("Bob Johnson", "IT", 65000),
    ("Alice Brown", "Sales", 52000)
]
```
- Calculate the total payroll
- Find all employees in Sales department
- Find the highest paid employee

In [ ]:
employees = [
    ("John Doe", "Sales", 50000),
    ("Jane Smith", "Marketing", 55000),
    ("Bob Johnson", "IT", 65000),
    ("Alice Brown", "Sales", 52000)
]

# Hint: Use tuple unpacking in loops
# Your code here

### Hard Questions

**Question 4.4:** Geographic data analysis:
```python
cities = [
    ("New York", (40.7128, -74.0060), 8336817),
    ("Los Angeles", (34.0522, -118.2437), 3979576),
    ("Chicago", (41.8781, -87.6298), 2693976),
    ("Houston", (29.7604, -95.3698), 2320268)
]
```
Each tuple contains: (city_name, (latitude, longitude), population)

- Find the total population of all cities
- Find the northernmost city (highest latitude)
- Calculate the average population
- Create a list of cities with population over 3 million

In [ ]:
cities = [
    ("New York", (40.7128, -74.0060), 8336817),
    ("Los Angeles", (34.0522, -118.2437), 3979576),
    ("Chicago", (41.8781, -87.6298), 2693976),
    ("Houston", (29.7604, -95.3698), 2320268)
]

# Your code here

---

## Section 5: Sets

### Easy Questions

**Question 5.1:** Create sets for:
- Primary colors: {"red", "blue", "yellow"}
- A set of unique numbers from the list [1, 2, 2, 3, 3, 3, 4]
- An empty set

In [ ]:
# Your code here

**Question 5.2:** Given a list of customer purchases:
```python
purchases = ["apple", "banana", "apple", "orange", "banana", "apple"]
```
- Find all unique products purchased
- Count how many different products were bought
- Add "grape" to the unique products

In [ ]:
purchases = ["apple", "banana", "apple", "orange", "banana", "apple"]

# Your code here

### Medium Questions

**Question 5.3:** Skills analysis:
```python
team_a = {"Python", "SQL", "Excel", "Tableau"}
team_b = {"Python", "R", "SQL", "PowerBI"}
required = {"Python", "SQL", "Machine Learning"}
```

Find:
- Skills common to both teams
- All skills across both teams
- Skills unique to team A
- Skills missing from both teams (that are required)

In [ ]:
team_a = {"Python", "SQL", "Excel", "Tableau"}
team_b = {"Python", "R", "SQL", "PowerBI"}
required = {"Python", "SQL", "Machine Learning"}

# Hint: Use intersection(), union(), difference()
# Your code here

### Hard Questions

**Question 5.4:** Customer behavior analysis:
```python
online_customers = {"C001", "C002", "C003", "C004", "C005", "C006"}
store_customers = {"C002", "C004", "C006", "C007", "C008"}
vip_customers = {"C001", "C004", "C007"}
```

Analyze:
- Customers who shop both online and in-store
- Customers who shop exclusively online
- VIP customers who only shop in-store
- Total unique customers across all channels
- What percentage of total customers are VIP?

In [ ]:
online_customers = {"C001", "C002", "C003", "C004", "C005", "C006"}
store_customers = {"C002", "C004", "C006", "C007", "C008"}
vip_customers = {"C001", "C004", "C007"}

# Your code here

---

## Section 6: Ranges 

### Easy Questions

**Question 6.1:** Create ranges for:
- Numbers 0 to 9
- Numbers 5 to 15
- Even numbers from 0 to 20

Convert each to a list to see the values.

In [ ]:
# Your code here

### Medium Questions

**Question 6.2:** Use ranges to create:
- Years from 2020 to 2024
- Multiples of 5 from 0 to 50
- A countdown from 10 to 1
- Temperature readings every 5 degrees from -10 to 30

In [ ]:
# Hint: Use different step values
# Your code here

### Hard Questions

**Question 6.3:** Data processing simulation:
You have 1,000,000 records to process in batches of 1000.
- Create the batch ranges (start positions)
- Calculate how many batches there will be
- Show the start and end position for the first 5 batches
- Show the start and end position for the last batch

In [ ]:
total_records = 1000000
batch_size = 1000

# Your code here

---

## Section 7: Indexing and Slicing

### Easy Questions

**Question 7.1:** Given the list:
```python
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
```
Access:
- The first letter
- The last letter
- The third letter
- The second to last letter

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

# Your code here

### Medium Questions

**Question 7.2:** String and list slicing:
```python
text = "Python Programming"
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```
Extract:
- The word "Python" from text
- The word "Programming" from text
- Every other letter from text
- The first half of the numbers list
- The last 3 numbers
- Every other number starting from 1

In [ ]:
text = "Python Programming"
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Your code here

### Hard Questions

**Question 7.3:** Advanced slicing with data analysis:
```python
hourly_data = [120, 135, 142, 128, 156, 189, 201, 245, 289, 312, 298, 276,
               254, 231, 198, 176, 154, 143, 136, 128, 122, 118, 115, 112]
```
This represents website visitors for each hour of the day (0-23).

Extract and analyze:
- Morning traffic (6 AM - 12 PM)
- Afternoon traffic (12 PM - 6 PM)
- Evening traffic (6 PM - 12 AM)
- Peak hour and its value
- Compare average traffic: morning vs afternoon vs evening

In [ ]:
hourly_data = [120, 135, 142, 128, 156, 189, 201, 245, 289, 312, 298, 276,
               254, 231, 198, 176, 154, 143, 136, 128, 122, 118, 115, 112]

# Hint: 6 AM is index 6, 12 PM is index 12, etc.
# Your code here

---

## Section 8: Combining Data Structures

### Medium Questions

**Question 8.1:** Customer order analysis:
```python
order_ids = ["ORD001", "ORD002", "ORD003", "ORD004", "ORD005"]
products = ["Laptop", "Mouse", "Laptop", "Keyboard", "Mouse"]
quantities = [1, 2, 1, 1, 3]
prices = [999, 25, 999, 50, 25]
```

Create:
- A list of tuples with (order_id, product, quantity, price)
- Calculate total revenue
- Find unique products sold
- Count total items sold

In [ ]:
order_ids = ["ORD001", "ORD002", "ORD003", "ORD004", "ORD005"]
products = ["Laptop", "Mouse", "Laptop", "Keyboard", "Mouse"]
quantities = [1, 2, 1, 1, 3]
prices = [999, 25, 999, 50, 25]

# Your code here

### Hard Questions

**Question 8.2:** Comprehensive data analysis:
```python
# Student records: (name, age, major, gpa, courses)
students = [
    ("Alice", 20, "CS", 3.8, ["Python", "Data Structures", "Calculus"]),
    ("Bob", 21, "Math", 3.6, ["Calculus", "Statistics", "Linear Algebra"]),
    ("Carol", 19, "CS", 3.9, ["Python", "Algorithms", "Calculus"]),
    ("David", 22, "Physics", 3.7, ["Calculus", "Mechanics", "Python"]),
    ("Eve", 20, "CS", 3.5, ["Java", "Data Structures", "Statistics"])
]
```

Analyze:
- All unique courses offered
- Students in CS major
- Average GPA by major
- Most popular course (appears in most student schedules)
- Students taking both "Python" and "Calculus"
- Create a set of all CS courses (courses taken by CS students)

In [ ]:
students = [
    ("Alice", 20, "CS", 3.8, ["Python", "Data Structures", "Calculus"]),
    ("Bob", 21, "Math", 3.6, ["Calculus", "Statistics", "Linear Algebra"]),
    ("Carol", 19, "CS", 3.9, ["Python", "Algorithms", "Calculus"]),
    ("David", 22, "Physics", 3.7, ["Calculus", "Mechanics", "Python"]),
    ("Eve", 20, "CS", 3.5, ["Java", "Data Structures", "Statistics"])
]

# Your code here

---

## Bonus Challenge: Real-World Data Analysis

**Sales Dashboard Creation:**

You're given sales data for a small retail store:
```python
# Daily sales for 30 days
daily_sales = [1200, 1350, 980, 1450, 1680, 1590, 1750,
               2100, 2250, 1980, 2150, 2400, 2350, 2500,
               1850, 1920, 1750, 1680, 1890, 1950, 2100,
               2300, 2450, 2380, 2500, 2650, 2700, 2850,
               2900, 3100]

# Product categories sold each day (some products appear multiple times)
products_sold = [
    ["Electronics", "Clothing", "Electronics", "Food"],
    ["Clothing", "Food", "Toys"],
    ["Electronics", "Electronics", "Clothing"],
    # ... assume similar data for all 30 days
]
```

Create a comprehensive analysis including:
1. Weekly sales totals
2. Best and worst performing days
3. Sales growth from week 1 to week 4
4. Moving 7-day average
5. Days that exceeded the monthly average
6. Create visual representation using text (like bar charts with asterisks)

In [ ]:
daily_sales = [1200, 1350, 980, 1450, 1680, 1590, 1750,
               2100, 2250, 1980, 2150, 2400, 2350, 2500,
               1850, 1920, 1750, 1680, 1890, 1950, 2100,
               2300, 2450, 2380, 2500, 2650, 2700, 2850,
               2900, 3100]

# Your comprehensive analysis here